.section-contact {
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 50em;
    margin: 1% auto;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-first {
    border-radius: 20px;
    /* height: 45rem; */
    height: 45em;
    width: 90%;
    margin: 1%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; */
    padding: 4%;

}
.contact-me {
    width: 30em;
    padding: 1%;
    margin: 1%;
/*     background-color: tomato;
 */
}
.contact-title, .write-me-title {
    font-size: 2.5rem;
    margin: 2%;
    padding: 2%;
}
.contact-descrip {
    margin: 1%;
    padding: 1%;
    max-width: 22em;
}
.social-media {
    list-style: none;
    margin: 2%;
    padding: 1%;
    
}
/* .item-social-media {
    margin: 3%;
    padding: 1%;
} */
.link-social-media {
    height: 1em;
    margin-top: 5%;
    padding: 2%;
    text-decoration: none;
    font-size: 0.9rem;
    align-items: center;
    display: flex;
    color: #503B46;
}

 .link-social-media:hover {
    color: rgb(202, 115, 198);
    font-weight: 600;
}
/* .fab:hover, .fas:hover {
    font-size: 1.6em;
    color: white;
    border-radius: 50%;
    background-color: rgb(202, 115, 198);
} */
.fa-twitter:hover, .fa-github-alt:hover, .fa-linkedin-in:hover, .fa-envelope:hover {
    background-color: #bc8f8f;
    color: white;
    font-size: 1em;
    padding: 7px;
    cursor: pointer;
    border-radius: 50%;

}
input, textarea {
    border-radius: 20px;
    padding: 2.7%;
    margin: 2%;
    border: none;
   background-color: #F6F7FB;
}
input:focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 9px 1px rgba(85,26,139,1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(85,26,139,1);
    box-shadow: 0px 0px 9px 1px rgba(85,26,139,1);
    outline: none;
}



.write-me {
    width: 30em;
    padding: 2% 0%;
    /* background-color: turquoise; */
}
.form-user, .form-email, .form-message {
    display: flex;
    margin: 5%;
}
.form-email, .form-message {
    flex-direction: column  ;
}
.button-send {
    width: 7rem;
    height: 2.7rem;
    color: #fff;
    font-size: 1rem;
    background-color: #551A8B;
    padding: 5px;
    margin: 1% 5%;
    border-radius: 22px;
    border: none;
    outline: none;

}
.button-send:hover {
    background-color: #655277;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    .section-contact {
        padding: 3% 0%;
    }
    .link-social-media {
        width: 15em;
        height: 2em;
    }
    .email {
        font-size: 0.7em;
    }
}


@media (max-width: 600px) {
    .section-contact {
        width: 20em;
    }
    .contact-first {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }
    .contact-me {
        width: 5em;
        height: 50%;
    }
    .contact-title, .write-me-title {
        font-size: 2em;
    }
    .contact-descrip {
        width: 24em;
        font-size: 0.8em;
        margin: 1.5em auto;
    }
    .write-me {
        background-color: lightcoral;
        width: 100%;
        height: 50%;
    }

}