main {
    font-family: 'Quicksand', sans-serif;
}
.about-me {
    /* height: 46em; */
    min-height: 90vh;
    width: 100%;
    /* background-color: blueviolet; */
    margin: 1em;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    
}
.about-me-present{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-start ; */

}
.about-me-imagen {
    /* background-color: hotpink; */
    display: flex;
    align-items: flex-end;

}
.present-hi, .knowledge-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.present-my-name {
    color: var(--rosa);
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.img-me {
    display: flex;
    max-width: 27em;
    max-height: 27em;
    margin: 2.5em;
}
   
.present-what-i-do {
    width: 160px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--rosa);
    cursor: pointer;
    text-decoration: none;

}
.present-what-i-do:hover {
    background-color: var(--rosaClaro);
}


/* MEDIA QUERIES */

@media (max-width: 900px) {
    .about-me {
        flex-flow: row wrap;
        justify-content: center;
        align-content: flex-end;
        margin: 1%;
        padding: 1%;
       
    }
    .about-me-present {
        justify-content: center;
        text-align: center;
        align-items: center;
        /* max-width: 27em;
        max-height: 27em; */
} 
    .about-me-imagen {
        display: flex;
        /* margin: 2%; */
    }
    .img-me {
        max-width: 25em;
        max-height: 25em;
    }
}
@media (max-width: 500px) {
    .about-me {
        align-content: space-evenly;
    }
    .present-hi, .present-my-name {
        font-size: 2em;
    }
    .presentation-text {
        font-size: 0.7em;
    }
    .present-what-i-do {
        font-size: 1em;
    }

    .img-me {
        max-width: 18em;
        max-height: 18em;
    }
}



/*
 Comienzo Segunda Sección  
*/

.second{
    background-color: var(--grisClaro);
    color: #1b1818;
    /* margin: 2% 1%; */
    padding: 8%;
}
.second-knowledge {
    width: 100%;
/*     height: 500px;
 */    display: flex;
    flex-direction: column;
    align-items: center;
}
.knowledge-text {
    padding: 2% 5%;
    max-width: 500px;
    text-align: center;
    line-height: 1.4;
}
.knowledge-skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
i {
    font-size: 5em;
}
.skills {
    width: 300px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    padding: 3%;
    margin: 2%;
    text-align: center;
}
.skills, .descrip {
    font-size: 1em;
    font-weight: bold;
    color: black;
    /* margin: 10% 0% 5% 0%; */
}
.skills:hover {
    border: 2px solid var(--moradoClaro);
    color: var(--rosa);
}
/* .skills-descrip:hover {
    color: rosybrown;
}  */

.fa-html5 {
    color: #e54d26;
}
.fa-css3-alt {
    color: #3d8fc6;;
}
.fa-sass {
    color: #c69;
}
.fa-js {
    color: #f0db4f;
}
.fa-react {
    color: #61dafb;
}
.fa-git-alt {
    color: #f34f29;
}




/* MEDIA QUERIES */

@media (max-width: 500px) {
    .second-knowledge {
        text-align: center;
    }
}





