.fourth-my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 2em;
}
.my-projects-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0.5em;
    padding: 0.5em;
}
.my-projects-description {
    padding: 2em;
    text-align: center;
    max-width: 450px;
}


/* Div de las imagenes */

.my-projects-grilla {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5em;
    text-align: center;
    margin: 1em;
}
.my-projects {
    border: 1px solid #3F3D56;
    border-radius: 10px;
    padding: 1em;
    margin: 0.7em;
    
}


/* Imagenes de los proyectos */

.projects {
    width: 22vw;
    height: 22vh;
    margin: 1em;
    
}
.link-projects {
    text-decoration: none;
    color: black;
    display: flex;
}
.my-projects:hover {
    border: 2px solid var(--moradoClaro);
    color: var(--rosa);
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
    .my-projects-grilla {
    justify-content: center;
    }
    .projects {
        max-width: 14em;
        max-height: 14em;
    }
}

@media (max-width: 500px) {
    .my-projects-title {
        text-align: center;
    }
    .link-projects {
       /*  max-width: 20em;
        height: 20em;
        margin-bottom: 1em; */
        display: flex;
        flex-direction: column;
    }
    .my-projects {
    width: 20em;
    height: 8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    } 
    figcaption {
        width: 5em;
    } 
}

