.third {
    height: 85vh;
    width: 100%;
    background-color: var(--rosa);
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding: 3em;
}
.third-phrase {
/*     text-align: center ;
 */    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 

}
.quote {
    text-align: center;
    margin: 1em;
    padding: 1em;
    line-height: 1.5;
    width: 60%;
    font-size: 2em;
} 
.author-phrase {
    font-size: 3em;
}


/* MEDIA QUERIES */

@media (max-width: 500px) {
    .quote {
        font-size: 1em;
    }
}

